/*********************************** STATIC ***********************************/

html,
body {
  height: 100%;
  background-color: #F0EBE6;

}
body {
  color: black;
  font-family: "Raleway", sans-serif;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: white;
  text-shadow: none;  /*Prevent inheritence from `body` */
  background-color: #735539;
  margin: auto;
}

.no-padding {
    padding: 0;
}

.navbar-default {
  border-color: rgba(34,34,34,.05);
	background-color: white;
	border-bottom: 1px solid #E0D6CC;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 13px;
    font-weight: 700;
    color: black;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: black!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
    color: black;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: white;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: black;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: black;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        text-decoration: underline;
    }

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 0px; 

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #D1C2B2;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: black;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: black;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: white;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: black;
    }
}

.container {
	padding-top: 75px;
}

.container-fluid {
	border-bottom: 1px solid #E0D6CC;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

/*********************************** ADD BOOK FORM ***********************************/

.form-signin {
  max-width: 750px;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
  border-color: #735539;
}

.form-signin input[type="email"],
.form-signin input[type="text"],
.form-signin input[type="password"], {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

h4 {
	text-align: right;
}

#author, #rating {
  height: 40px;
}